// mobile

.footer {
  width: auto;
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-link-footer {
display: flex;
justify-content: center;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .footer-address {
      margin-top: 20px;
    
      font-style: normal;
    }
    .footer-address-list-item:not(:last-child) {
        margin-bottom: 8px;
      }
      .footer-link-address {
        display: flex;
        justify-content: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: 0.03em;
          color: #ffffff;
        
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .footer-link-contacts {
          display: flex;
          justify-content: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #ffffff;
            opacity: 0.6;
          
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          } 
          .footer-block-icons-list {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              gap: 10px;
            }  
            .footer-block-icons-list-link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                width: 44px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.1);
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                margin-bottom: 60px;
                
                &:hover,
                &:focus {
                 background-color: #2196f3;
                }
              }
              
              .footer-icons {
                fill: #ffffff;
              } 
       
 @media screen and (max-width: 767px) {
  .footer-address:last-child {
    margin-bottom: 60px;
  }
 }

 @media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
  .footer-social-block {
    padding-left: 76px;
  }
  .footer-wrapper__tablet {
    display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .footer-block-icons {
    padding-right: 89px;
  }
 }

 @media screen and (min-width: 1200px) {
  .footer {
      width: auto;
      height: 252px;
 }
 .footer-social-block {
  margin-right: 70px;
 }
 .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: baseline;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  margin-top: 20px;

  font-style: normal;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-block-icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-block-icons-list-item {
  flex-basis: calc((100% - 30px) / 4);
}
 }
// .footer {
//   width: auto;
//   height: 252px;
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;
// }

// .footer-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 70px;
//   align-items: baseline;
// }

// .logo-link-footer {
//   font-family: "Raleway", sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;
//   letter-spacing: 0.03em;
//   color: #ffffff;
// }

// .footer-address {
//   margin-top: 20px;

//   font-style: normal;
// }

// .footer-address-list-item:not(:last-child) {
//   margin-bottom: 9px;
// }

// .footer-link-address {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: #ffffff;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .footer-link-contacts {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 24px;
//   letter-spacing: 0.03em;
//   color: #ffffff;
//   opacity: 0.6;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .footer-block-icons-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
// }

// .footer-block-icons-list-item {
//   flex-basis: calc((100% - 30px) / 4);
// }

// .footer-block-icons-list-link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 44px;
//   width: 44px;
//   border-radius: 50%;
//   background: rgba(255, 255, 255, 0.1);
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//   &:hover,
//   &:focus {
//    background-color: #2196f3;
//   }
// }

// .footer-icons {
//   fill: #ffffff;
// }