.footer-block-icons-title {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-block-icons-title {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-block-icons-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block-icons-title {
    display: block;
  }
}